@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@300&display=swap");
@import "normalize.css";
body {
  
  margin: auto;
  width: auto;
  height: 100vh;
  font-family: "Oswald", "sans serif";
  font-size: large;
  color: rgba(255, 255, 255, 0.863);
  background-color: #303030;
  
  
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  top: 0;
  padding-right: 2%;
}

nav .profile {
  display: flex;
  align-items: center;
  padding-left: 2%;
}

nav .profile img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 50px;
  border-radius: 50%;
}

nav .profile h2 {
  font-size: xx-large;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: inherit;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.4s linear;
  font-size: X-large;
  margin-right: 50px;
}

nav ul a:hover {
  border-bottom: solid #00ff00 1px;
  border-bottom-color: #00ff00;
  color: #00ff00;
}

#page {
  height: 100%;
  width: auto;

}
#page header {
  background-image: url('images/fond-site.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 160px;
}
#banderolle{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #303030;
  opacity: 0.9;

}
h2{
  text-align: center;
}
#page header h1 {
  margin: 0;
  text-transform: uppercase;
  font-family: "bebas neue", "sans serif";
  font-size: 6vw;
  text-align: center;
}

#page header h2 {
  font-size: 2vw;
  margin: auto;
  margin-bottom: 10px;
 
}
#page header button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0%;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: 1px solid gray;
}
#page header button:hover {
  color: gray;
  border-bottom-color: black;
}
#page main{
  margin:auto;
}
#page #projects_section {
  margin-top: 5%;
}
#page #projects_section h1 {
  font-family: "bebas neue";
  text-transform: uppercase;
  font-size: 3vw;
}

#page #projects_section #projects {
  display: flex;
    margin: auto;
    justify-content: center;
}
#page #projects_section #projects a {
  text-decoration: none;
  margin: 0 20px 0 20px;
  color: inherit;
}
#page #projects_section #projects a:hover {
  color: #ccc;
}
#page #projects_section #projects .project {
  margin-right: 40px;
  margin-left: 25px;
  border:1px solid #fff;
  padding: 10px 20px;
  box-shadow: 5px 5px 10px 2px  #fff;
  transition: 0.6s;
}
#page #projects_section #projects .project:hover{
  border:1px solid #00ff00;
  color: #00ff00;
  box-shadow: 7px 7px 12px 3px  #00ff00;
  font-size: large;
  
}
#page #projects_section #projects .project .description {
  font-size: 1.5vw;
}
#page #projects_section #projects .project .dates {
  font-size: 1vw;
  color: rgb(145, 145, 145);
}
#page h2 {
  font-family: "bebas neue";
  text-transform: uppercase;
  font-size: 3vw;
}
#CV{
  margin-top: 100px;
  display: flex;

  justify-items: center;
  flex-direction: column;
  text-align: center;
}

#CV img {
  margin: auto;
  width: 40%;
}

#download {
  border: solid 1px#fff;
  margin: auto;
  margin-top: 40px;
  width: 20%;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}
#download:hover{
  border: solid 1px#00ff00;
  font-size:x-large;
  padding: 20px;
  color: #00ff00;
}
footer {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black;
  color: rgba(255, 255, 255, 0.863);
  padding: 10px;
}

footer .column a {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.863);
  cursor: pointer;
  text-decoration: none;
}
footer .column p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.863);
  cursor: pointer;
  text-decoration: none;
}

footer .column a:hover {
  color: rgba(255, 255, 255, 0.863);
}
footer .column p:hover {
  color: rgba(255, 255, 255, 0.863);
}

/* version mobile */

@media screen and (max-width: 700px) {
  nav {
    justify-content: center;
  }
  nav ul {
    display: none;
  }

  #page header {
    margin-top: 10%;
    max-width: 100%;
  }

  #page #projects_section {
    margin-top: 15%;
  }
  #page #projects_section h2 {
    font-size: 1.5em;
  }
  #page #projects_section #projects .project {
    margin-right: 0%;
    margin-bottom: 20px;
    max-width: 100%;
  }

  footer {
    justify-content: flex-start;
    width: 95%;
  }
}
